<header>
    <div class="container" id="headerWrapper">
        <div class="container" id="quoteDate">
            <div class="quote">
                <h4><q><%= quote %></q></h4>
            </div>
            <!-- Date is done client side -->
            <div class="date">
                <h4 id="day"></h4>
                <h4 id="date"></h4>
                <h4 id="time"></h4>
            </div>
        </div>
        <%- include("todo.ejs") %>
    </div> 
</header>