<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS rendered content</title>
</head>
<body>
    <h1>
        Hey! It's <%= day %>, it's time to <%= action %>!
    </h1>
    <h2>
        Dad! You are <%= compliment %> programmer in the world!
    </h2>
</body>
</html>