
body {
    background-color: black;
    margin: 0rem;
    padding: 0rem;
}

img {
    border: 5px solid white;
    width: 100%;
    transition: 1000ms;
}

img:hover {
    rotate: 180deg;
}

h1, p {
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    }

div {
    /* margin: auto will set equal margins on all sides */
    margin: auto;
    width: 30%;
    box-sizing: border-box;
    margin-top: 4%;
}